.activity-container {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
     
}

.activity-title {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    text-transform: uppercase;
    font-size: 3.6em;
    letter-spacing: 3px;
}

.button-switcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.button-switcher button {
  padding: 8px 20px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: bold;
  background: black;
  color: white;
  transition: background 0.3s;
}

.button-switcher button.active {
  background: white;
  color: black;
}

.activity-slider-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
  background: black;
  opacity: 0.95;
  width: 40%;
  height: 50%;
}

.activity-slider {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.4s ease;
}

.activity-slider.show-notifications {
  transform: translateX(0%);
}

.activity-slider.show-myactivity {
  transform: translateX(-50%);
}

.activity-panel {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;

  
  
}

@media screen and (max-width: 900px){
  .activity-slider-wrapper{
    opacity: 0.95;
    width: 80vw;
  }
}
