.conversation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.conversation-area {
  width: 700px;
  height: 700px;
  background: var(--suggested-users-col2);
  border: 1px solid var(--sidebar-border);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.conversation-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-bottom: 1px solid rgba(61, 61, 61, 0.404);
}

.conversation-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.conversation-header-username {
  color: white;
  font-weight: bold;
  font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}


.messages-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.message-row {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.message-row.sent {
  justify-content: flex-end;
}

.message-row.received {
  justify-content: flex-start;
}

.message-avatar {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  
}

.message-bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
}

.message-row.sent .message-bubble {
  background: var(--sidebar-bg);
  color: white;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font-size: 1em;
  margin: 10px;
}

.message-row.received .message-bubble {
  background: #2a2a2a;
  color: white;
  margin: 10px;
  font-size: 1em;
  border-bottom-left-radius: 4px;
}


.message-input {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.message-input input {
  flex: 1;
  padding: 8px;
  background: #111;
  border: none;
  color: white;
  border-radius: 6px;
}

.message-input button {
  padding: 8px 12px;
  background: white;
  border: none;
  cursor: pointer;
}

.bk-to-msg-btn {
  margin: 20px;
}

@media  screen and  (max-width: 900px){
  .conversation-area {
    width: 90vw;
  }
}