.messages-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
}

.messages-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;  
  background-color: black;
  width: 40%;
  height: 50%;
  padding-top: 20px;   
}

.messages-title {
    font-family: "Odibee Sans", sans-serif;
    font-size: 2.9em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.messages-box {
    border: 3px solid white;
    display: flex;
    gap: 20px;
}

.conversation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid gray;
    width: 100%;
    margin: 0px 30px 0px 30px;
}

.conversation-avatar {
    border-radius: 5px;
    max-width: 70px;
}

.conversation-text{
    margin: 10px;
}

.msg-username-text {
    font-size: 2em;
    font-family: "Odibee Sans", sans-serif, arial;
    letter-spacing: 1px;
}