.messages-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    
}

.messages-box{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;  
  background-color: var(--sidebar-bg);
  width: 40%;
  height: 50%;
  padding-top: 20px;   
}

.messages-title {
    font-family: "Odibee Sans", sans-serif;
    font-size: 3.6em;
  letter-spacing: 3px;
    text-transform: uppercase;
}

.messages-box {
    border-radius: 5px;
    display: flex;
    gap: 2px;
}

.conversation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 0px 30px 0px 30px;
    transition: 0.3s ease-in;
}

.conversation-item:hover {
    background: rgba(128, 128, 128, 0.034);
}

.conversation-avatar {
    border-radius: 5px;
    max-width: 70px;
    max-height: 70px;
    min-width: 70px;
    margin-right: 30px;
}

.conversation-text{
    margin: 2px;
}

.msg-username-text {
    font-size: 2em;
    font-family: "Odibee Sans", sans-serif, arial;
    letter-spacing: 1px;
    
}

@media  screen and (max-width: 900px) {
    
.messages-box{
  position: relative;
  display: flex;
  background-color: var(--sidebar-bg);
  width: 80vw;
  opacity: 0.95;
  
}
}