.post {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-cover{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.514);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 10;

}

.post:hover .image-cover{
    opacity: 1;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: rgba(0, 0, 0, 0.486);
}

.modal-content {
    display: flex;
    flex-direction: row;
    background: black;
    padding: 10px;
    border-radius: 5px;

}

.modal-left {
    margin: 10px;
}

.modal-right {
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
}

.modal-image {
    width: 600px;
    height: 600px;
    object-fit: contain;
}