.post {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
    
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.post:hover {
    transform: scale(1.05);
}

.image-cover{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.514);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
    z-index: 10;

}

.post:hover .image-cover{
    opacity: 1;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: rgba(0, 0, 0, 0.486);
}

.modal-content {
    display: flex;
    flex-direction: row;
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;

}

.modal-left {
    position: relative; 
    margin: 10px;
    display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; 
}

.modal-right {
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
}

.modal-image {
    width: 800px;
    height: 700px;
    object-fit: contain;
}

.comments-header {
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2em;
}

.comments-list {
    display: flex;
    flex-direction: column;
    background: var(--color4);
    opacity: 0.9;
    width: 100%;
    margin: 5px;
    color: var(--color6);
    opacity: 0.7;
    
}

.comment-item {
    display: flex;
    gap: 1em;
    margin: 10px;
    width: 99%;
    border-top: 1px solid black;
    padding-top: 10px;
    
}

.image-caption {
    color: var(--color4);
    z-index: 20;
    background: rgba(5, 4, 4, 0.363);
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.username-box {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 2em;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.username-box p {
     padding-bottom: 20px;
     margin: 0;
}

.image-cover span {
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 1.1em;
}

.comments-box-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.comment-box {
    height: 30%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    
}