.suggested-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: full;
    height: 5vh;
    padding: 10px;
    align-items: center;

}

.user-info {
    
    font-size: large;
}

.profile-pic img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;

}


@media screen and (max-width: 900px) {
    .user-info {
        display: hidden;
        background-color: red;
    }
}
