.suggested-header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: full;
    height: 5vh;
    padding: 10px;
    align-items: center;
    background-color: var(--sidebar-bg);
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 10vw;
    z-index: 1;
}

.suggested-header-container::before {
    position: absolute;
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.699), rgba(255, 255, 255, 0));
    inset: 0;
}

.users-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    width: 60%;
    
}

.profile-pic img {
    width: 50px; 
    height: 50px;
    border-radius: 5px;
}

.username-and-followers{
    margin-left: 100px;
}

.logout-text {
    display: flex;
    z-index: 2;
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.pic-and-username-top {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .user-info {
        display: hidden;
        background-color: black;
    }
}
