.suggested-user-container{
    display: flex;
    
    
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
}

.users-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.user{
    margin: 10px;
}



@media screen and (max-width: 900px) {
    .suggested-user-container {
        
        background-color: red;
    }
}
