.suggested-users-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px;
    top: 0;
    width: 20vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: var(--suggested-users-col2);
    border-radius: 4px;
}

.suggested-for-you {
    display: flex;
    justify-content: space-between;
    height: 3vh;
}

.suggested-user-box{
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background: var(--suggested-users-col2);
    backdrop-filter: blur(20px);
    border: 4px solid var(--color2)
   
  
}

.user-suggestion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.creator-name-box {
    background-color: black;
}


@media screen and (max-width: 900px) {
    .suggested-users-container{
        position: fixed;
        background: black;
    }



}