.suggested-users-container{
    position: absolute;
    margin: 10px;
    top: 0;
    width: 20vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.842);
    backdrop-filter: blur(20px);
    border: 4px solid var(--color2)
}

.suggested-for-you {
    display: flex;
    justify-content: space-between;
}

.suggested-user-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.user-suggestion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}


@media screen and (max-width: 900px) {
    .suggested-users-container{
        position: fixed;
        background: black;
    }



}