.suggested-users-container{
    position: absolute;
    margin: 10px;
    top: 0;
    width: 20vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.suggested-for-you {
    display: flex;
    justify-content: space-between;
}

.suggested-user-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.user-suggestion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}


@media screen and (max-width: 900px) {
    .suggested-users-container{
        position: fixed;
        background: black;
    }



}