.suggested-user-container{
    display: flex;
    
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    z-index: 1;
}

.users-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.user{
    margin: 10px;
}

.user-name {
     font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1.8em;
     letter-spacing: 1px;
     cursor: pointer;
}




