.suggested-users-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px;
    top: 0;
    width: 20vw;
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: var(--suggested-users-col2);
    border-radius: 4px;
    
}

.suggested-for-you {
    display: flex;
    justify-content: space-between;
    height: 4vh;
    padding: 10px;
     font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.3em;
}

.suggested-user-box{
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    overflow-y: auto;
    background: var(--suggested-users-col2);
    backdrop-filter: blur(20px);
    border: 1px solid var(--sidebar-border);
}

.user-suggestion {
    width: 100%;   
}

.creator-name-box {
    background-color: black;
}


