.followers-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.followers-window {
  width: 350px;
  background: #111;
  border-radius: 4px;
  padding: 20px;
  color: white;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
     font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.followers-scroll {
  overflow-y: auto;
  flex: 1;
  margin-top: 10px;
}

.follower-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  border-bottom: 1px solid #444;
  font-family: Arial;
  letter-spacing: 2px;
}

.follower-item img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.close-modal-btn {
  margin-top: 10px;
  padding: 8px;
  background: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.status-font {
  letter-spacing: 2px;
}