.auth-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

.home-logo-container{
    margin: 0;
    width: 100vw;
    background-image: url(/Images/days-gone-bg-xl.jpeg);
    background-position: 10%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    border-bottom: 4px solid black;
}

.home-logo{
    width:40vw;
    height: auto;
}

.auth-page-content img {
    border-radius: 10px;
}

.auth-page-content {
    border: 1px solid white;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
