.auth-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;    
    background-image: url('/Images/deacon-chase.jpg');
    background-repeat: no-repeat;
    background-position: 30%;
  position: relative;
  overflow: hidden;
}

.auth-page-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(12, 11, 11, 0.658); 
  z-index: 0;
}
.home-logo-container{
    margin: 0;
    width: 100vw;
    background: rgba(2, 0, 0, 0.959);
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    border-bottom: 4px solid white;
    padding: 10px;
    z-index: 10;
}

.home-logo{
    width:30vw;
    height: auto;
}

.auth-page-content img {
    border-radius: 10px;
   
    
}

.auth-page-content {
    width: 50vw;
    min-height: 420px;
    max-height: 50vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 7px;
    background: rgba(2, 0, 0, 0.959);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    overflow: hidden;
}


.auth-page-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mongrels-img-container {
    position: absolute;
    top: 68%;
    left: 20%;
    transform: rotate(-30deg);
    
}

.mongrels-img-container img {
    width: 200px;
}


@media (max-width: 900px) {
    .auth-page-content {
        flex-direction: column;
        width: 85vw;
        min-height: fit-content;
        padding: 20px 15px;
    }

    .home-logo {
        width: 55vw;
    }
}

