.topbar-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100vw;
    margin-bottom: 3%;
}

.users-container {
    z-index: 3;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20%;
    width: 50vw;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.user-select p {
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px;
    margin: 0;
}