.topbar-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100vw;
    margin-bottom: 3%;
}

.users-container {
    z-index: 3;
    background: var(--sidebar-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 50vw;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.users-container::before {
    position: absolute;
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.719), rgba(255, 255, 255, 0));
    inset: 0;
}

.user-select p {
    position: relative;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.user-select p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 10px;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.user-select p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.user-select:hover p{
    color: rgba(245, 245, 245, 0.89);
}

@media screen and (max-width: 900px){

.topbar-container {
    position: absolute;
    right: 0;
    width: 20vw;
    height: 80vh;
    background: none;
    z-index: 99;
}

.user-select p {
    font-size: 1.1em;
}

.users-container {
    position: relative;
    top: 20%;
   right: -20px;
    z-index: 3;
    background: none;
    color: white;  
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
     position: fixed;
}

.users-container::before {
    position: absolute;
   background: none;
    inset: 0;
}

.user-select p:hover{
    color: gray;   
}

.user-select p::before {
    content: '';
    display: none;
}

.reg-feed {
 background: black;
 border-radius: 8px;
}


.dg-feed {
    background: white;
    color: black;
    border-radius: 8px;
}

.sug-head-container {
    position: absolute;
    top: 0;
}

.reg-feed,
.dg-feed {
    width: 150px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform: translateX(0);
}

.reg-feed p,
.dg-feed p {
    font-size: 14px; 
}


.reg-feed:hover,
.dg-feed:hover,
.reg-feed.active,
.dg-feed.active {
    transform: translateX(-15px);
    box-shadow: -4px 0 10px rgba(0,0,0,0.4);
}

}