.topbar-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100vw;
    margin-bottom: 3%;
}

.users-container {
    z-index: 3;
    background: var(--sidebar-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 50vw;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.users-container::before {
    position: absolute;
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.719), rgba(255, 255, 255, 0));
    inset: 0;
}

.user-select p {
    position: relative;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.user-select p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 10px;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.user-select p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.user-select:hover p{
    color: rgba(245, 245, 245, 0.89);
}

@media screen and (max-width: 900px){

.topbar-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 20vw;
    height: 80vh;
    background: none;
    z-index: 99;
    
    
}

.users-container {
    position: relative;
    z-index: 3;
    background: none;
    color: white;   
    width: 50vw;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
}

.users-container::before {
    position: absolute;
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.719), rgba(255, 255, 255, 0));
      border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    inset: 0;
}

.user-select {
    display: flex;
    flex-direction: row;
}

.user-select p {
    position: relative;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 10px;
    margin: 40px 0px;
    cursor: pointer;
    transition: 0.3s ease-in;
    
}

.user-select p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 10px;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.reg-feed {
 background: black;
}

.dg-feed {
    background: white;
    color: black;
}

.sug-head-container {
    position: absolute;
    top: 0;
}
}