.profile-tabs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.profile-tabs-item {
    font-weight: bold;
    cursor: pointer;
}

.profile-tabs-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.posts-title-container {
    font-family: "Odibee Sans", sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    width: 500px;
    display: flex;
    justify-content: center;    
}

.posts-title-container p {
    margin: 10px;
}

.add-photo-btn {
  background: var(--follow-btn-bg);
  color: var(--follow-btn-text);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.add-photo-btn:hover {
      background: rgba(54, 54, 54, 0.644);
}

.add-photo-btn:active {
    background: black;
}