:root {
  --bg: black;
  --panel: rgb(7, 4, 0);
  --text: white;
  --bg-image: url(/Images/deacon9.jpg);
  --sidebar-bg: rgb(7, 4, 0);
  --sidebar-color: rgb(252, 246, 242);
  --sidebar-border: white;
  --sidebar-menu-bg: none;
  --suggested-users-bg: rgb(7, 4, 0);
  --theme-title-bg: rgb(7, 4, 0);
  --theme-title-text-col: rgb(255, 249, 244);
  --feed-card-col: rgb(3, 0, 0);
  --suggested-users-col1: black;
  --suggested-users-col2: rgb(3, 0, 0);
  --suggested-users-header: white;
    --like-heart-bg: black;
    --like-heart-bg-after: black;
    --messages-bg: rgba(0, 0, 0, 0.979);
    --follow-btn-bg: black;
    --follow-btn-text: rgb(255, 250, 244);
    --profile-text-col: rgb(250, 238, 238);
    --sidebar-border: rgb(0, 2, 2);
}

html[data-theme="lost-lake"] {
  --bg: rgba(0, 9, 18, 0.548);
  --panel: rgba(0, 9, 18, 0.973);
  --sidebar-color: rgba(0, 9, 18, 0.973);
  --sidebar-menu-bg: rgba(128, 243, 218, 0.534);
  --text: white;
  --bg-image: url("/Images/lost-lake.jpg");
  --theme-title-bg: rgba(0, 9, 18, 0.973);
  --sidebar-bg: rgba(0, 9, 18, 0.973);
  --feed-card-col: rgba(0, 9, 18, 0.973);
  --suggested-users-col1:  rgba(0, 9, 18, 0.973);
  --suggested-users-col2: rgba(0, 9, 18, 0.973);
   --suggested-users-header: rgba(0, 0, 0, 0.89);
   --like-heart-bg: black;
    --follow-btn-bg: rgba(0, 0, 0, 0.959);
    --follow-btn-text: white;
     --profile-text-col: rgb(255, 250, 240);
     --theme-title-text-col: rgb(255, 255, 255);
     --sidebar-border: rgb(3, 5, 27);
    
}

html[data-theme="night"] {
  --bg: rgba(2, 0, 19, 0.719);
  --panel: rgba(1, 5, 15, 0.88);
  --text: white;
    --sidebar-color: white;
    --bg-image: url("/Images/deacon3.jpg");
    --theme-title-bg: rgba(1, 8, 10, 0.973);
    --theme-title-text-col: white;
    --sidebar-menu-bg: rgba(1, 7, 14, 0.932);
    --sidebar-bg: rgb(0, 5, 12);
    --feed-card-col: rgba(0, 0, 0, 0.671);
    --suggested-users-col1:  rgb(0, 3, 12);
  --suggested-users-col2: rgb(1, 4, 17);
  --like-heart-bg: black;
  --follow-btn-bg: rgba(0, 0, 0, 0.932);
  --follow-btn-text: rgb(244, 254, 255);
   --profile-text-col: rgb(255, 250, 240);
   --sidebar-border: rgba(4, 5, 20, 0.363);
    
}

html[data-theme="daylight"] {
  --bg: rgba(20, 13, 4, 0.363);
  --panel: rgb(27, 21, 7);
  --text: white;
    --sidebar-color: black;
    --sidebar-menu-bg: gray;
  --bg-image: url("/Images/deacon-chase.jpg");
  --theme-title-bg: rgb(13, 0, 0);
  --theme-title-text-col: rgb(236, 233, 229);
  --sidebar-menu-bg: url('/Images/deacon-chase.jpg');
  --sidebar-bg: rgb(22, 8, 0);
  --feed-card-col: rgb(17, 7, 0);
  --suggested-users-col1:  rgb(0, 3, 12);
  --suggested-users-col2: rgba(12, 1, 1, 0.959);
  --like-heart-bg: black;
  --follow-btn-bg: rgba(0, 0, 0, 0.842);
  --follow-btn-text: rgb(255, 245, 243);
    --profile-text-col: rgb(252, 228, 204);
    --sidebar-border: rgba(20, 13, 4, 0.363);
}

body {
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  color: var(--text);
}
