post-footer-container{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2px;

}

.likes {
    font-weight: bold;
}

.post-footer-like-status{
    background: none;
    color: var(--color4);
}

.liked-heart,
.unlike-heart
{
    font-size: large;
}



