.home-container {
    margin-left: 290px; 
    background: var(--color1);
    width: 85vw;
    overflow-x: hidden;
}

.home-contents {
    display: flex;
    flex-direction: row;
    left: 50%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
}

.scroll-feed{
    
    flex: 3;
    overflow-x: hidden;
}

.suggested-users {
    flex: 2;
   
}

@media screen and (max-width: 900px){
    .home-container {
        margin-left: 10px;
       width: 100%;
    }
    .home-contents {
        flex-direction: column;   
        gap: 20px;
    }
        .scroll-feed{
        width: 100%;
    }
}