.home-container {
  background-color: rgba(0, 0, 0, 0.658);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
   
}

.home-container::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.658);
    position: fixed;
    inset: 0;
    background-size: cover;
}

.home-contents {
    display: flex;
    flex-direction: row;
    gap: 70px;
   justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 4;
    position: relative;
    
}


.scroll-feed{
    position: relative;
    margin: 0;
    z-index: 4;
    flex: none;
    overflow-x: hidden;
    width: 40%;
    backdrop-filter: blur(20px);
}

.suggested-users {
    flex: none;
    margin-right: 50em;
}

@media screen and (max-width: 900px){
    .home-container {
        margin-left: 10px;
       width: 100%;
    }
    .home-contents {
        flex-direction: column;   
        gap: 20px;
    }
        .scroll-feed{
        width: 100%;
    }
}