.home-container {
    margin-left: 280px; 
    background-image: url('/Images/days-gone-bg-xl.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 85vw;
    overflow-x: hidden;
    border-left: 4px solid var(--color1);
   position: relative;
   z-index: 1;
}

.home-container::after{
    content: "";
    background: linear-gradient( to top, 
        rgba(6, 12, 1, 0.918), 
        rgba(221, 221, 221, 0.253)
    );
    position: absolute;
    inset: 0;
    z-index: 0;
}


.home-contents {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 4;
    position: relative;
}


.scroll-feed{
    position: relative;
    margin-left: 40px;
    margin: 0;
     z-index: 4;
    flex: 3;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.842);
    backdrop-filter: blur(20px);
}



.suggested-users {
    flex: 2;
}

@media screen and (max-width: 900px){
    .home-container {
        margin-left: 10px;
       width: 100%;
    }
    .home-contents {
        flex-direction: column;   
        gap: 20px;
    }
        .scroll-feed{
        width: 100%;
    }
}