.home-container {
    margin-left: 280px; 
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    width: 88vw;
    overflow-x: hidden;
    border-left: 4px solid var(--color1);
    border-right: 4px solid var(--color1);
   position: relative;
   z-index: 1;
}



.home-contents {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 4;
    position: relative;
}


.scroll-feed{
    position: relative;
    margin-left: 40px;
    margin: 0;
     z-index: 4;
    flex: 3;
    overflow-x: hidden;
    background: var(--bg);
    backdrop-filter: blur(20px);
}



.suggested-users {
    flex: 2;
}

@media screen and (max-width: 900px){
    .home-container {
        margin-left: 10px;
       width: 100%;
    }
    .home-contents {
        flex-direction: column;   
        gap: 20px;
    }
        .scroll-feed{
        width: 100%;
    }
}