.auth-forum-container{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 80vh;  
}

.login-forum{
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  
}

.input-info-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 100%;

}

input {
    position: relative;
    margin: 10px;
    height: 3em;
    max-width: 90%;
    border-radius: 7px;
    border: none;
    padding: 2px;
    font-size: 14px;
}



.or-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.or-box p{
    margin: 10px;
    font-weight: bold;
}

.or-box div {
    height: 1px;
    background: white;
    width: 30%;
}

.google-login-box {
    cursor: pointer;
}


.account-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.account-question button {
    font-weight: bold;
    margin: 10px;
}

.welcome-text {
    margin-top: 10%;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Odibee Sans", sans-serif;
}