.auth-forum-container {
    width: 100%;
    max-width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    
}

.welcome-text {
  font-size: 2.5em;
  font-family: "Odibee Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.welcome-text p {
    margin: 0;
}


.auth-slider-wrapper {
  flex: 0.8;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
 
}


.auth-slider {
  display: flex;
  width: 200%;
  transition: transform 0.45s ease;
}

.auth-slider.show-login {
  transform: translateX(0%);
}

.auth-slider.show-signup {
  transform: translateX(-50%);
}


.auth-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input {
  width: 90%;
  height: 30px;
  margin-bottom: 12px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}





.bottom-section-signin {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20%;
  justify-content: center;
}

.alt-signin-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.swap-button {
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
