.btm-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.signup-bottom-btn {
    max-width: 75%;
    margin: 10px;
}

.signup-txt {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.signup-txt p {
     margin: 5px;
    padding: 0;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
   letter-spacing: 1px;
}