.my-activity-container {
    height: 90%;
   
}

.my-activity-text {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
}

.activity-list {
  width: 100%;
  padding: 10px;
}

.activity-item {
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  
}


.activity-text-line p {
  margin: 0;
  font-size: 0.95em;
}

.activity-time {
  font-size: 0.75em;
  opacity: 0.7;
}

.empty-activity {
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
}

.comment-type {
    display: flex;
    justify-content: space-between;
}
