.profile-header-container{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--profile-text-col);
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    border: 2px solid white;
    margin: 20px;
}

.user-info-container{
    margin-left: 40px;
}

.user-and-edit-profile{
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 25px;
    
}

.profile-numbers-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
}

.profile-username{
    align-self: center;
    margin-right: 20px;
    font-family: "Odibee Sans", sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    margin-right: 15%;
    color: var(--profile-text-col);
}

.profile-follow-info{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: large;
}

.profile-number {
    font-weight: bold;
}

.profile-name{
    font-weight: bold;
}

.edit-profile-btn {
      background: var(--follow-btn-bg);
  color: var(--follow-btn-text);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.edit-profile-btn:hover {
      background: rgba(54, 54, 54, 0.644);
}

.edit-profile-btn:active {
    background: black;
}

.x-btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 15px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 2px solid gray;
    background: red;
    color: white;
}

