.profile-header-container{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--profile-text-col);
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    border: 2px solid white;
    margin: 20px;
}

.user-info-container{
    margin-left: 40px;
}

.user-and-edit-profile{
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 25px;
    
}

.profile-numbers-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
}

.profile-username{
    align-self: center;
    margin-right: 20px;
    font-family: "Odibee Sans", sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    margin-right: 15%;
    color: var(--profile-text-col);
}

.profile-follow-info{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: large;
}

.profile-number {
    font-weight: bold;
}

.profile-name{
    font-weight: bold;
}

.edit-profile-btn {
      background: var(--follow-btn-bg);
  color: var(--follow-btn-text);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.edit-profile-btn:hover {
      background: rgba(54, 54, 54, 0.644);
}

.edit-profile-btn:active {
    background: black;
}
.modal-content {
    position: relative;
}

.update-profile-title-container {
    display: flex;
    justify-content: center;
}

.update-profile-title-container p {
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px;
    margin: 0;
}

.photo-and-text-container {
    margin-bottom: 100px;

}

.x-btn-edit {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 15px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 2px solid gray;
    background: red;
    color: white;
}

.edit-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.edit-image-container img {
    border-radius: 5px;
}

.edit-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.display-name-container {
    width: 100%;
}

.display-name-container input,
.bio-container input {
    width: 100%;
}

.profile-message-icon {
    width: 40px;
    height: auto;
}