.profile-header-container{
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.profile-image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 20px;
}

.user-info-container{
    margin-left: 20px;
}

.user-and-edit-profile{
    display: flex;
    align-items: center;
    height: 20%;
    margin-top: 25px;
    
}

.profile-numbers-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
}

.profile-username{
    align-self: center;
    margin-right: 20px;
}

.profile-follow-info{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.profile-number {
    font-weight: bold;
}

.profile-name{
    font-weight: bold;
}