.notif-container {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
}

.notif-content {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    background: black;
    width: 40%;
    height: 50%;
    border-radius: 4px;
    padding-top: 20px;   
}

.notif-title-container {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.9em;
}

.notif-area {
    border-radius: 3px;
    width: 80%;
    align-self: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}