.notif-container {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.notif-content {
    display: flex;
    flex-direction: column;
    background: black;
    width: 50%;
    height: 50%;
}

.notif-title-container {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.9em;
}

.notif-area {
    border: 2px solid white;
    border-radius: 3px;
    width: 80%;
    align-self: center;
    padding: 10px;
}