.notif-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.notif-title-container {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
}


