.notif-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    pointer-events: none;
    
}


.notif-title-container {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
}

.notif-item {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.notif-avatar {
    max-width: 100px;
    border-radius: 5px;
}

.notif-time {
    font-size: large;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}