.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    
}

.search-title-container {
  font-size: 3.6em;
  letter-spacing: 2px;
  font-family: "Odibee Sans", sans-serif;
  text-transform: uppercase;
  word-spacing: 10px;

}


.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;  
  background-color: black;
  width: 40%;
  height: 50%;
  padding-top: 20px;   
  border-radius: 5px;
}


.search-area-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  position: relative;
    width: 95%;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    background: var(--color1);
}

.dropdown {
  width: 91%; 
  background: rgba(255, 255, 255, 0.897);
  color: var(--color1);
  border: 2px solid var(--color1);
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 20;
  font-weight: bold;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-item:hover {
  background: var(--color1);
  color: var(--color4);
}

.no-results {
  opacity: 0.7;
  cursor: default;
}
