.sidebar-container {
    position: sticky;
    position: fixed;
    top: 0;
    background: var(--sidebar-bg);
    background-position: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    border-right: 2px solid var(--sidebar-border);
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar-container::after {
    content: "";
    position: absolute;
    inset: 0;
     background: linear-gradient( to top, 
        rgba(0, 0, 0, 0.884), 
        rgba(243, 243, 243, 0)
    );
    pointer-events: none;
} 


.driftergram-logo {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    z-index: 1;
    margin-left: 10px;
}

.driftergram-logo:hover {
    background: none;
}

.logo-pic {
    width: 250px;
    margin: 5px;
    padding: 0;
}


.sidebar-links-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: var(--sidebar-menu-bg);
    border-top: 1px solid var(--sidebar-border);
    border-bottom: 1px solid var(--sidebar-border);

}

.sidebar-items {
    margin: 10px;
    color: var(--sidebar-color);
    font-size: 1.2em;
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.sidebar-items::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--sidebar-color);
  bottom: 0px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.item-text {
    margin-left: 15%;
}

.sidebar-items::before {
  bottom: 2px;
  transform-origin: left;
}

.sidebar-items:hover {
    color: var(--sidebar-color);
    opacity: 0.8;
}

.sidebar-items:hover::before {
  transform: scaleX(1);
}

.sidebar-items:after {
    font-size: 1.7em;
}

.logout-btn-container{
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    z-index: 3;
    width: 100%;
}

.logout-btn{
    padding: 10px;
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Odibee Sans", sans-serif;
}

.hamburger-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: none;
  border: none;
  color: var(--sidebar-color);
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .hamburger-btn {
    display: block;
  }

  .sidebar-container {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    width: 100vw;
    height: 30vh;
    opacity: 0.98;
    display: flex;
    flex-direction: row;
  }

 .logout-btn {
    display: none;
 }

  .sidebar-container.open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar-backdrop {
    width: 100vw;
  }

  .sidebar-links-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.driftergram-logo {
    display: none;
}


.sidebar-items {
    display: flex;
    font-size: 1.5em;
}
.toggle-theme-container {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

}
