.sidebar-container {
    position: sticky;
    position: fixed;
    top: 0;
    background-image: url('/Images/days-gone-bg.png');
    background-position: 16%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 300px;
    border-right: 4px solid var(--color1);
    overflow: hidden;
    z-index: 3;
}

.sidebar-container::after {
    content: "";
    position: absolute;
    inset: 0;
     background: linear-gradient( to top, 
        rgba(0, 0, 0, 0.918), 
        rgba(99, 99, 99, 0.103)
    );
    pointer-events: none;
} 


.driftergram-logo {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    z-index: 1;
}

.logo-pic {
    width: 200px;
    margin: 5px;
    padding: 0;
}


.sidebar-links-container {
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.sidebar-items {
    margin: 10px;
    color: var(--color1);
    font-size: 1.3em;
    z-index: 2;
    display: inline-block;
    position: relative;
}




.sidebar-items::after,
.sidebar-items::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--color4), var(--color6));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.sidebar-items::before {
  top: -5px;
  transform-origin: left;
}

.sidebar-items:hover::after,
.sidebar-items:hover::before {
  transform: scaleX(1);
}



@media screen and (max-width: 800px) {
    .sidebar-container{
        max-width: 150px;
    }

    .sidebar-items{
        font-size: 0;
    }

    .sidebar-items svg {
        font-size: 24px;
    }

    .sidebar-items.text {
        visibility: hidden;
    }
}