.sidebar-container {
    position: sticky;
    position: fixed;
    top: 0;
    background: var(--sidebar-bg);
    background-position: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 300px;
    border-right: 4px solid var(--color1);
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sidebar-container::after {
    content: "";
    position: absolute;
    inset: 0;
     background: linear-gradient( to top, 
        rgba(0, 0, 0, 0.918), 
        rgba(99, 99, 99, 0.103)
    );
    pointer-events: none;
} 


.driftergram-logo {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    z-index: 1;
}

.driftergram-logo:hover {
    background: none;
}

.logo-pic {
    width: 200px;
    margin: 5px;
    padding: 0;
}


.sidebar-links-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: var(--sidebar-menu-bg);
    border-top: 4px solid var(--color1);
    border-bottom: 4px solid var(--color1);

}

.sidebar-items {
    margin: 10px;
    color: var(--sidebar-color);
    font-size: 1.4em;
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}



.sidebar-items::after,
.sidebar-items::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--color4), var(--color6));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.sidebar-items::before {
  top: -5px;
  transform-origin: left;
}

.sidebar-items:hover::after,
.sidebar-items:hover::before {
  transform: scaleX(1);
}


.logout-btn-container{
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    z-index: 3;
    width: 100%;
}

.logout-btn{
    padding: 10px;
    width: 100%;
    font-size: 1.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Odibee Sans", sans-serif;
}




@media screen and (max-width: 800px) {
    .sidebar-container{
        max-width: 150px;
    }

    .sidebar-items{
        font-size: 0;
    }

    .sidebar-items svg {
        font-size: 24px;
    }

    .sidebar-items.text {
        visibility: hidden;
    }
}