.feed-post-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    height: 40%;
    padding: 10px;
    background: var(--feed-card-col);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: feedPostFadeUp 0.4s ease-out forwards;
}



@keyframes feedPostFadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feed-post-image {
   max-width: 550px;
   max-height: 600px;
   border-radius: 5px;
}