.feed-post-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    height: 40%;
    padding: 10px;
    background: var(--feed-card-col);
    border-radius: 5px;
}

.feed-post-image {
   max-width: 550px;
   max-height: 600px;
   border-radius: 5px;
}