.feed-post-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    height: 40%;
    padding: 10px;
}

.feed-post-image {
   max-width: 700px;
   max-height: 600px;
   border-radius: 5px;
}