.profile-posts-container {
    margin-top: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-holder{
    width: 300px;
    height: 300px;
    background: black;
    }

.loading-box {
  animation: pulse 1.4s infinite ease-in-out;
 background: gray;
  background-size: 200% 100%;
}


@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
    .profile-posts-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%; 
    }
}


@media (max-width: 800px) {
    .profile-posts-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%; 
    }
}