.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
    background: var(--bg);
}

.profile-page-container{
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    width: 70vw;
    border: 1px solid white;
    border-radius: 5px;
    background: var(--theme-title-bg);
    overflow: hidden;
    padding: 10px;
}


.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
   
}

.gallery-text {
     font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
}