.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
    background: var(--bg);
}

.profile-page-container{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 60vw;
    border: 1px solid white;
    border-radius: 5px;
    background: var(--theme-title-bg);
}


.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}