.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 128, 128);
    width: 100vw;
    height: 100vh;
}

.profile-page-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 60vw;
}
