.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
   
}

.profile-page::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    inset: 0;
    z-index: 0;
}


.profile-page-container{
    position: relative;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    width: 70vw;
    border: 1px solid rgba(0, 0, 0, 0.856);
    border-radius: 5px;
    background: var(--theme-title-bg);
    opacity: 0.95;
    overflow: hidden;
    padding: 10px;
    z-index: 2;
}

.profile-page-container::before {
    content: "";
    position: absolute;
         background: linear-gradient( to top, 
        rgba(0, 0, 0, 0.884), 
        rgba(243, 243, 243, 0)
    );
    inset: 0;
    
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.gallery-text {
     font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7em;
    letter-spacing: 5px;
    font-weight: lighter;
}