.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
}

.profile-page-container{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 60vw;
}


.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color1);
}