.post-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: full;
}

.users-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.feedpost-avatar {
    width: 50px;
    margin: 5px;
    border-radius: 5px;
}

.users-name span {
    margin: 0 15px 0 15px;
    font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 1.3em;
}