.theme-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.theme-switcher {
  background: var(--panel);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 10px;
}

.theme-names{
  display: flex;
  justify-content: center;
  align-items: center;
   font-family: "Odibee Sans", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: 4px;
  margin-top: 10px;
  background: var(--theme-title-bg);
  border-bottom: 1px solid var(--sidebar-border);
  border-top: 1px solid var(--sidebar-border);
  width: 100%;
  height: 60px;
  position: relative;
  color: var(--theme-title-text-col);
  z-index: 2;
}

.theme-label {
  display: block;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.35s ease;
}

.theme-label.show {
  opacity: 1;
  transform: translateX(0);
}

.theme-switcher img {
  height: 27px;
}

.theme-switcher:hover {
  background: var(--accent);
  color: white;
}


.theme-switcher.active {
  outline: 2px solid white;
  transform: scale(1.1);
  background: rgba(175, 170, 170, 0.082);
}

.theme-switch-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}


.theme-switch-box--default {
  gap: 8px;
}

.theme-switcher--default {
  background: transparent;
  width: 40px;
  height: 40px;
}


.theme-switch-box--mobile {
  display: none;
  position: relative;
  pointer-events: auto;
  z-index: 9999;
  flex-direction: row;
  gap: 10px;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 999px;
  backdrop-filter: blur(10px);
}

.theme-switcher--mobile {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 900px){
  .theme-switch-box--mobile{
    display: block;
    position: fixed;
    bottom: 0;
    display: flex;
    border-radius: 8px;
  }

  .theme-switch-box--default{
    display: none;
  }

  .theme-buttons {
    display: flex;
    flex-direction: column;
  }

  .theme-switcher {
    height: 50px;
    width: 50px;
    background: none;
  }

  .theme-names {
    display: none;
  }
}


